//- template.pug
html
  head
    style
      include style.css
      
h1(class='title') Dextrose Snaps

div(class='wrapper')
  each name, index in names
    - let colour = index  % 2 === 0 ? 'blue' : 'pink'
      div(class=`box-${colour}`)
        h4(class='story') Story: #{name}
        if shots[name].ios
          div(class='shot')
            a(class='snap' href=`${shots[name].ios}`) 
              img(src=shots[name].ios class='thumbnail')
            span ios
        if shots[name].android
          div(class='shot')
            a(href=`${shots[name].android}`) 
              img(src=shots[name].android class='thumbnail')
            span android
        if shots[name].web
          each width in widths
            div(class='shot')
              a(href=`${shots[name].web[width]}`)
                img(src=shots[name].web[width] class='thumbnail')
              span= "web-" + `${width}`
